<div class="mb-4">
    <h1 class="page-title-header"><%= page.title %></h1>
    <ul class="flex flex-col mb-4 gap-6">
        <%
        const newessays = theme.essays.sort((a, b) => {
            return moment(b.date).diff(a.date);
          });
        %>
        <% for (const e of newessays) { %>
            <li class="w-full flex flex-row relative">
                <div class="w-10 h-10 mr-4 rounded-lg overflow-hidden border border-border-color p-[px] flex-shrink-0"><%- image_tag(theme.defaults.avatar, {class: "w-full h-full rounded-[6.2px]"}) %></div>
                <div class="w-full border-border-color rounded-xl rounded-tl-none redefine-box-shadow-flat overflow-hidden">
                    <div id="shuoshuo-content" class="px-4 py-3"><%- markdown(e.content) %></div>
                    <div class="px-4 py-2 text-sm border-b border-border-color  dark:bg-zinc-800 text-third-text-color" style="font-size: small;"><%- moment(e.date).locale(config.language).calendar() %></div>
                    
                </div>
            </li>
        <% } %>
    </ul>
</div>
